.navigation{
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: 1 0 auto;

    border-top: 2px solid $light-grey;
    background-color: $background;
    margin: 0;
    padding: 0;
    
    a{
        text-decoration: none;
        color: $font-color;
    }
    
    .navbar-items{
        display: none;
        flex-direction: column;

        border-bottom: 1px solid $light-grey;

        padding-top: 1rem;

        h4{
            text-align: center;  
        }
    }

    .navbar-mobile{

        i{
            padding: 1rem 2rem;
            color: $dark-grey;

            &:hover{
                color: $light-grey;
                cursor: pointer;
            }
        }
    }
    

    // Larger than phablet (also point when grid becomes active)
    @media (#{$bp-larger-than-phablet}) {
    
    }    
}    



