<div class="container">
  <div class="navbar-items">
    {% for page in navigation_pages %}
    <div class="navbar-item">
      <h5><a href="{{ page.slug }}">{{ page|upper }}</a></h5>
    </div>
    {% endfor %}
    <!--
    <div class="navbar-item admin">
      <h5><a href="admin"><div class="muted">ADMIN</div></a></h5>
    </div>
    -->
  </div>
</div>
<div class="navbar-mobile">
  <div class="icon u-pull-right" id="menu">
    <i class="fa fa-bars fa-2x " aria-hidden="true" ></i>
  </div>
</div>
