<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-around fixed-bottom">
  
  <ul class="navbar-nav">
    
    <a href="/" class="navbar-brand brand-link">PETTERI NEVAVUORI</a>
    <li class="navbar-brand slash-divider">//</li>
    
    {% for page in navigation_pages %}
    <li class="nav-item">
      <a class="nav-link" href="{{ page.slug }}">{{ page|upper }}</a>
    </li>
    {% endfor %}
    
    <li class="nav-item">
      <a href="admin" class="nav-link">PAGE ADMIN</a>
    </li>
  
  </ul>
  
</nav>
